doctype 5
html(lang='en')
	head
		title="$pTitle"
		link(rel="stylesheet", href="/assets/css/styles.css")

	body
		p.greetings #{$pContent}
		p.author-line By: &nbsp;
			a(href="http://twitter.com/ferdroid8080" target="_blank") #{$author}

	//-
		h3 Users
		if ($users)
			table(border='1')
				each $item in $users
					tr
						td #{$item['id']}
						td #{$item['userid']}
						td #{$item['passwd']}
		else
			p There's no records in 'users' table
